<nav class="app-navbar navbar navbar-expand-lg navbar-light bg-light fixed-top justify-content-between mb-5">
  <div class="container">
    <a
      class="navbar-brand primary-color"
      href="#"
    >
      NgxScrollSpy
    </a>
    <button
      class="navbar-toggler"
      style="outline: none;"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item mr-lg-3 mr-xl-4"
          *ngFor="let link of navbarLinks"
        >
          <a
            class="nav-link app-tab-link"
            [routerLink]="['/']"
            [fragment]="link.fragment"
            spy
            [spyTargetId]="link.fragment"
            [spyActiveClass]="'app-tab-link--is-active'"
          >
            {{ link.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <header class="mb-5">
    <h1>Angular scroll spy library</h1>
    <p>An Angular library that can automatically spy the position of elements (inside a scrollable container) and emit
      the
      currently active (visible) element in the viewport (add and remove the spyActiveClass, default: active).</p>
    <p>
      GitHub: <a
        href="https://github.com/TheJLifeX/ngx-scroll-spy"
        target="_blank"
        rel="noopener noreferrer"
      >github.com/TheJLifeX/ngx-scroll-spy</a>
      <br>
      NPM: <a
        href="https://www.npmjs.com/package/@thejlifex/ngx-scroll-spy"
        target="_blank"
        rel="noopener noreferrer"
      >npmjs.com/@thejlifex/ngx-scroll-spy</a>
    </p>
    <h2>Installation</h2>
    <div><code>npm install @thejlifex/ngx-scroll-spy --save</code></div>
  </header>
  <ng-container *ngFor="let link of navbarLinks; let index = index">
    <span
      [id]="link.fragment"
      class="anchor-navigation-with-margin-top"
    ></span>
    <section
      class="section-example"
      spyTarget
      [spyTargetId]="link.fragment"
    >
      <h2 class="mb-4">{{ link.name }}</h2>
      <ng-container [ngSwitch]="link.fragment">
        <app-example-with-navbar *ngSwitchCase="'example-with-navbar'"></app-example-with-navbar>
        <app-example-with-navbar-and-sidebar *ngSwitchCase="'example-with-navbar-and-sidebar'">
        </app-example-with-navbar-and-sidebar>
        <app-example-with-list-group *ngSwitchCase="'example-with-list-group'"></app-example-with-list-group>
        <app-example-with-nested-list-group *ngSwitchCase="'example-with-nested-list-group'">
        </app-example-with-nested-list-group>
      </ng-container>
    </section>
  </ng-container>
</main>

<footer style="margin-top: 50vh;">
  <h2>Footer</h2>
  <p><span>{{ 3 | loremIpsum }}</span></p>
</footer>

<div id="line"></div>
