.app-navbar {
  box-shadow: var(--app-navbar-box-shadow);
}

main {
  margin-top: 6rem;
}

.section-example {
  background-color: var(--app-lighter-color);
  border-radius: var(--app-border-radius);
  box-shadow: var(--app-card-box-shadow);
  padding: 1rem;
  margin: 1rem 0;
}

footer {
  color: var(--app-footer-text-color);
  background-color: var(--app-footer-background-color);
  padding: 2rem;
}

#line {
  position: fixed;
  top: 20%;
  border-top: solid 1px red;
  width: 100%;
}
